<nav class="navbar">
  <div class="logo">
    <h1>{{ selectedLanguage === 'en' ? 'CHATGPT POST V1.2' : 'CHATGPT POST V1.2' }}</h1>
  </div>
  <ul>
    <li>
      <a routerLink="/form" routerLinkActive="active">
        {{ selectedLanguage === 'en' ? 'Form' : 'Formulario' }}
      </a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/categories" routerLinkActive="active">
        {{ selectedLanguage === 'en' ? 'Categories' : 'Categorías' }}
      </a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/questions" routerLinkActive="active">
        {{ selectedLanguage === 'en' ? 'Questions' : 'Preguntas' }}
      </a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/alternatives" routerLinkActive="active">
        {{ selectedLanguage === 'en' ? 'Alternatives' : 'Alternativas' }}
      </a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a routerLink="/chatgpt" routerLinkActive="active">
        {{ selectedLanguage === 'en' ? 'Responses' : 'Respuestas' }}
      </a>
    </li>
    <li *ngIf="!isAuthenticated()">
      <a routerLink="/login" routerLinkActive="active">
        {{ selectedLanguage === 'en' ? 'Sign in' : 'Iniciar sesión' }}
      </a>
    </li>
    <li *ngIf="isAuthenticated()">
      <a (click)="logout()">
        {{ selectedLanguage === 'en' ? 'Logout' : 'Cerrar sesión' }}
      </a>
    </li>

    <!-- Selector de Idiomas -->
    <li class="options" (click)="toggleLanguagesPopup()">
      <span class="config-icon">⚙️</span>
      <div class="popup" *ngIf="showPopup">
        <h4 class="title-lenguage">{{ selectedLanguage === 'en' ? 'Language' : 'Idioma' }}</h4>
        <ul>
          <li *ngFor="let language of languages" (click)="selectLanguage(language.languageName)" class="button">
            {{ language.languageName }}
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <div class="hamburger" (click)="toggleMenu()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</nav>
