@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.navbar{
    background-color: white;
    height: 90px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: white;
  height: 90px;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

.navbar .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #006a8a 0%, #2cd2fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center; /* Centrar verticalmente los elementos dentro del ul */
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos dentro del ul */
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin-left: 1.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar ul li a:hover {
  background-color: #f5f5f5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
  pointer-events: none; /* Añadir pointer-events para asegurar que los enlaces sean clicables */
}

.menubar.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  pointer-events: auto; /* Habilitar pointer-events cuando el menú esté activo */
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

li a img {
  width: 40px; /* Ajusta el ancho según sea necesario */
  height: 40px; /* Ajusta la altura según sea necesario */
  vertical-align: middle; /* Alinea verticalmente la imagen */
}

.navbar ul {
  align-items: center; /* Centrar verticalmente los elementos dentro del ul */
}

.navbar a {
  text-decoration: none; /* Eliminar el subrayado de los enlaces */
  color: #000; /* Color del texto */
  font-weight: bold; /* Estilo del texto */
}

.options {
  position: relative;
  cursor: pointer;
  color: #ff0000;
}

.title-lenguage {
  color: #006a8a;
  font-weight: bold;
}

.popup {
  position: absolute;
  top: 120%; /* Justo debajo del elemento */
  left: -160px;
  color: #ffffff;
  font-weight: bold;
  background-color: #2cd2fc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
}

.popup h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup ul li {
  padding: 5px 0;
  cursor: pointer;
}

.popup ul li:hover {
  background-color: #f5f5f5;
}
