<nav class="navbar">
    <div class="logo">
      <h1>CHATGPT POST</h1>
    </div>
    <ul>
        <li>
          <a routerLink="/form">Form</a>
        </li>
        <li>
          <a routerLink="/categories">Categories</a>
        </li>
        <li>
          <a routerLink="/questions">Questions</a>
        </li>
        <li>
          <a routerLink="/alternatives">Alternatives</a>
        </li>
        <li>
          <a routerLink="/chatgpt">Responses</a>
        </li>
      </ul>
      <div class="hamburger" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar" [class.active]="menuActive">
      <ul>
        <li>
          <a routerLink="/form" (click)="toggleMenu()">Form</a>
        </li>
        <li>
          <a routerLink="/categories" (click)="toggleMenu()">Categories</a>
        </li>
        <li>
          <a routerLink="/questions" (click)="toggleMenu()">Questions</a>
        </li>
        <li>
          <a routerLink="/alternatives" (click)="toggleMenu()">Alternatives</a>
        </li>
        <li>
          <a routerLink="/chatgpt" (click)="toggleMenu()">Responses</a>
        </li>
      </ul>
    </div>