<br>
<br>
<div class="container">
  <h2 class="text-center">Question Management</h2>
  <div class="box">
    <h3 class="heading">Create a New Question</h3>
    <form #questionForm="ngForm" (ngSubmit)="addQuestion(questionForm)">
      <div class="form-group">
        <label for="categoryID">Category</label>
        <select class="form-control" id="categoryID" [(ngModel)]="newQuestion.categoryID" name="categoryID" required>
          <option *ngFor="let category of categories" [value]="category.categoryID">{{ category.nameEn }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="questionTypeID">Question Type</label>
        <select class="form-control" id="questionTypeID" [(ngModel)]="newQuestion.questionTypeID" name="questionTypeID"
          required>
          <option *ngFor="let questionType of questionTypes" [value]="questionType.questionTypeID">{{
            questionType.typeEn }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="questionTextEn">Text (English)</label>
        <input type="text" class="form-control" id="questionTextEn" [(ngModel)]="newQuestion.textEn"
          name="questionTextEn" required>
      </div>
      <div class="form-group">
        <label for="questionTextEs">Text (Spanish)</label>
        <input type="text" class="form-control" id="questionTextEs" [(ngModel)]="newQuestion.textEs"
          name="questionTextEs" required>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <br>
  <div class="box">
    <h3 class="heading">Question List</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Category</th>
          <th scope="col">Type</th>
          <th scope="col">Text (English)</th>
          <th scope="col">Text (Spanish)</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col">See alternatives</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <th scope="row">{{ question.questionID }}</th>
          <td>{{ getCategoryName(question.categoryID) }}</td>
          <td>{{ getQuestionTypeName(question.questionTypeID) }}</td>
          <td>{{ question.textEn }}</td>
          <td>{{ question.textEs }}</td>
          <td>
            <button (click)="editQuestion(question)" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
          </td>
          <td>
            <button (click)="confirmDelete(question)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </td>
          <td>
            <button (click)="showAlternatives(question)" class="btn btn-secondary"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <!-- Formulario de edición emergente para preguntas -->
  <div *ngIf="selectedQuestion" id="editQuestionModal" class="modal-backdrop">
    <div class="modal-content">
      <h3 class="heading">Edit Question</h3>
      <form #editQuestionForm="ngForm" (ngSubmit)="updateQuestion(editQuestionForm)">
        <div class="form-group">
          <label for="editQuestionCategoryID">Category</label>
          <select class="form-control" id="editQuestionCategoryID" [(ngModel)]="selectedQuestion.categoryID"
            name="editCategoryID" required>
            <option *ngFor="let category of categories" [value]="category.categoryID">{{ category.nameEn }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="editQuestionTypeID">Question Type</label>
          <select class="form-control" id="editQuestionTypeID" [(ngModel)]="selectedQuestion.questionTypeID"
            name="editQuestionTypeID" required>
            <option *ngFor="let questionType of questionTypes" [value]="questionType.questionTypeID">{{
              questionType.typeEn }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="editQuestionTextEn">Text (English)</label>
          <input type="text" class="form-control" id="editQuestionTextEn" [(ngModel)]="selectedQuestion.textEn"
            name="editTextEn" required>
        </div>
        <div class="form-group">
          <label for="editQuestionTextEs">Text (Spanish)</label>
          <input type="text" class="form-control" id="editQuestionTextEs" [(ngModel)]="selectedQuestion.textEs"
            name="editTextEs" required>
        </div>
        <div class="button-group">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
  </div>

<!-- Ventana emergente para alternativas -->
<div *ngIf="selectedQuestionForAlternatives" id="alternativesModal" class="modal fade show d-block">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 1500px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alternatives for: {{selectedQuestionForAlternatives.textEn}}</h5>
        <button type="button" class="close" (click)="closeAlternativesModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul *ngIf="alternatives.length > 0" class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let alternative of alternatives; let i = index">
            <div class="flex-grow-1" *ngIf="editingIndex !== i">
              <span>{{alternative.textEn}} / {{alternative.textEs}}</span>
            </div>
            <div *ngIf="editingIndex === i" class="flex-grow-1">
              <label *ngIf="selectedQuestionForAlternatives.questionTypeID !== 2">Text (English)</label>
              <input *ngIf="selectedQuestionForAlternatives.questionTypeID !== 2" type="text" class="form-control mb-2" [(ngModel)]="editingAlternative.textEn" placeholder="Text (English)">
              
              <label *ngIf="selectedQuestionForAlternatives.questionTypeID !== 2">Text (Spanish)</label>
              <input *ngIf="selectedQuestionForAlternatives.questionTypeID !== 2" type="text" class="form-control mb-2" [(ngModel)]="editingAlternative.textEs" placeholder="Text (Spanish)">
              
              <label>Translation (ChatGPT) English</label>
              <input type="text" class="form-control mb-2" [(ngModel)]="editingAlternative.translationChatGptEn" placeholder="Translation (ChatGPT) English">
              
              <label>Translation (ChatGPT) Spanish</label>
              <input type="text" class="form-control mb-2" [(ngModel)]="editingAlternative.translationChatGptEs" placeholder="Translation (ChatGPT) Spanish">
            </div>
            <div class="btn-group">
              <button *ngIf="editingIndex !== i" type="button" class="btn btn-sm btn-primary" (click)="editAlternative(alternative, i)">
                <i class="fa fa-pencil"></i>
              </button>
              <button *ngIf="editingIndex === i" type="button" class="btn btn-sm btn-success" (click)="saveAlternative()">
                <i class="fa fa-save"></i>
              </button>
              <button type="button" class="btn btn-sm btn-danger" (click)="deleteAlternative(alternative.alternativeID, i)">
                <i class="fa fa-trash"></i>
              </button>
              <button *ngIf="editingIndex === i" type="button" class="btn btn-sm btn-secondary" (click)="cancelEdit()">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </li>
        </ul>
        
        <div *ngIf="alternatives.length === 0" class="alert alert-info" role="alert">
          No alternatives available for this question. Please fill out the form below to add a new alternative.
        </div>

        <div class="mt-3">
          <form #alternativeForm="ngForm" (ngSubmit)="addAlternative(alternativeForm)" 
            *ngIf="selectedQuestionForAlternatives?.questionTypeID !== 2 || alternatives.length === 0">
            <h5>Add New Alternative</h5>

            <!-- Formulario para agregar alternativa -->
            <div *ngIf="selectedQuestionForAlternatives?.questionTypeID !== 2">
              <div class="form-group">
                <label for="newAlternativeTextEn">Text (English)</label>
                <input type="text" class="form-control" id="newAlternativeTextEn" [(ngModel)]="newAlternative.textEn"
                  name="newAlternativeTextEn" required>
              </div>
              <div class="form-group">
                <label for="newAlternativeTextEs">Text (Spanish)</label>
                <input type="text" class="form-control" id="newAlternativeTextEs" [(ngModel)]="newAlternative.textEs"
                  name="newAlternativeTextEs" required>
              </div>
            </div>
        
            <!-- Campos de traducción siempre visibles -->
            <div class="form-group">
              <label for="newTranslationChatGptEn">Translation (ChatGPT) English</label>
              <input type="text" class="form-control" id="newTranslationChatGptEn"
                [(ngModel)]="newAlternative.translationChatGptEn" name="newTranslationChatGptEn">
            </div>
            <div class="form-group">
              <label for="newTranslationChatGptEs">Translation (ChatGPT) Spanish</label>
              <input type="text" class="form-control" id="newTranslationChatGptEs"
                [(ngModel)]="newAlternative.translationChatGptEs" name="newTranslationChatGptEs">
            </div>
        
            <button type="submit" class="btn btn-primary">Add Alternative</button>
          </form>
          
          <!-- Mensaje para preguntas de tipo texto -->
          <div *ngIf="selectedQuestionForAlternatives?.questionTypeID === 2 && alternatives.length >= 1" 
               class="alert alert-warning">
            Como esta pregunta es de tipo texto, puedes modificar el prompt que acompañara a la respuesta escrita por el usuario.
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAlternativesModal()">
          <i class="bi bi-x"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>



  <!-- Ventana emergente para confirmar eliminación -->
  <div *ngIf="questionToDelete !== null" class="modal-backdrop">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" (click)="cancelDelete()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this record?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelDelete()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteQuestionConfirmed()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Contenedor de notificación -->
<div id="notification-container" class="notification" *ngIf="alertMessage">
  {{ alertMessage }}
</div>